option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8080
    MONGODB_URI: mongodb+srv://rodncb:xxkPSIme4RSWz0Wr@cluster0.ffkqtjd.mongodb.net/ironhouse?retryWrites=true&w=majority&appName=Cluster0
    JWT_SECRET: f6df91ca8c6fb3d7b76863dd77fsecc7c28321d7896a73fc89637f5a6c21
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: node backend/app.js
    ProxyServer: nginx